.character-page {
  width: 100%;
  height: 90vh;

  min-width: 900px;

  .character-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 92px;

    justify-content: space-between;

    .container {
      width: 33%;
      height: 300px;
    }

    .current-character {
      transform: scale(1.3);
    }
  }
}
