.character-detail-card {
  width: 100%;
  height: 100%;

  border-radius: 8px;

  .character-card-image-container {
    .character-image {
      height: 250px;

      border-radius: 12px;
    }
  }

  .detail-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
    max-width: 250px;

    .detail {
      padding: 4px;

      border: 2px solid #13b1c5;

      .label {
        color: #13b1c5;
      }
    }
  }
}
