.character-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 12px;

  height: 100%;

  cursor: pointer;

  .status-badge {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 3;

    font-size: 12px;

    background-color: gray;
    border-radius: 10px;
    padding: 6px 8px;

    &.alive {
      background-color: #07bc0c;
    }

    &.dead {
      background-color: #e74c3c;
    }

    &.unknown {
      background-color: #f1c40f;
    }
  }

  &:hover {
    .character-card-image-container > .character-image {
      transform: scale(1.1);
    }
    .character-name {
      color: #646cff;
    }
  }

  .character-card-image-container {
    max-height: 240px;
    height: 240px;

    position: relative;
    overflow: hidden;

    border-radius: 20px;

    .character-image {
      max-height: 240px;
      height: 240px;

      border-radius: 20px;

      transition: all 0.2s;

      &.dead {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: grayscale(100%);
      }

      &.unknown {
        -webkit-filter: grayscale(50%);
        -moz-filter: grayscale(50%);
        -o-filter: grayscale(50%);
        -ms-filter: grayscale(50%);
        filter: grayscale(50%);
      }
    }
  }

  .character-name {
    margin-top: 6px;

    transition: all 0.2s;
  }
}
