@font-face {
  font-family: "WubbaLubbaDubDub";
  src: url("@/fonts/WubbaLubbaDubDub.ttf") format("opentype");
}

body {
  background-color: #001325 !important;
  color: white !important;

  font-family: WubbaLubbaDubDub;
}

#root {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
